		body{
		background-color:rgba(165, 200, 200, 1);
		}


		#header{
			position: absolute;
			top: 0px;
			padding: 0;
			width: 100%;
			height: 50px;
			left: 0px;
			background: red; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient(rgba(165, 200, 200, 1), rgba(145, 180, 180, 1)); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(rgba(165, 200, 200, 1), rgba(145, 180, 180, 1)); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(rgba(165, 200, 200, 1), rgba(145, 180, 180, 1)); /* For Firefox 3.6 to 15 */
			background: linear-gradient(rgba(165, 200, 200, 1), rgba(145, 180, 180, 1)); /* Standard syntax */
			
		}

		#log{
			position: absolute;
			height: 25px;
			width: 100px;
			right: 0px;
			bottom: 0px;
			padding: 0px;
			font-size:10px;
		}

			#tfheader{
		background-color:#c3dfef;
	}
	#tfnewsearch{
		
		position: absolute;
		left: 300px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
    .tftextinput2{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
        border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
    
    
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
    
    	.tfbutton2 {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
        border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
        
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
    
    
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	
	.logo{
		height: 50px;
		width: auto;
		position: absolute;
		left: 500px;
	}
	
	#content{
		background-color: white;
		position: absolute;
		top: 150px;
        left: 0px;
		height: 400px;
		width: 900px;
	}
    
    #other{
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		top: 150px;
        left: 0px;
		height: 400px;
		width: 900px;
	}
    
    .coverDiv{
        opacity: 0;
        background-color: #FFFFFF; 
        height: 150px; 
        width: 250px; 
        padding:15px; 
        position:absolute; 
        border-radius: 25px;
    }
    
    .coverDiv:hover{
        -webkit-transition: opacity 1s; /* Safari */
        transition: opacity 1s;
        opacity: 0.9;
    }
    
    #mainContainer{
        width:890px;
        height: 540px;
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -450px;
        background-color: rgba(255 , 255 , 255, 0.7);
        background: -webkit-radial-gradient(rgba(255 , 255 , 255, 1), rgba(255 , 255 , 255, 0)); /* Safari 5.1 to 6.0 */
        background: -o-radial-gradient(rgba(255 , 255 , 255, 1), rgba(255 , 255 , 255, 0)); /* For Opera 11.6 to 12.0 */
        background: -moz-radial-gradient(rgba(255 , 255 , 255, 1), rgba(255 , 255 , 255, 0)); /* For Firefox 3.6 to 15 */
        background: radial-gradient(rgba(255 , 255 , 255, 1), rgba(255 , 255 , 255, 0)); /* Standard syntax */
        
    }
    
    .searchDivider{
        width:295px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
        height: 100%;
        position:absolute;
        top:0px;
     }
     
     .avatar{
         width:100px;
         height:100px;
         border: solid;
         border-width: 1px;
     }
      .avatar2{
         width:12px;
         height:12px;
         border: solid;
         border-width: 1px;
     }
     
     .userHolder, .aboutHolder{
         width: 100%;
         height:auto;
         position: relative;
         top: 0px;
         text-align:center;
        padding: 15px;
     }
     
     .aboutHolder{
         width: 400px;
           position: relative;
           top:0px;
  left: 50%;
  margin-left: -200px;
     }
     
     .userHolder2{
           position: relative;
           top:0px;

         right: -100px;
         padding: 10px;
         width: 100px;
         text-align: right;
         display: inline-block;
         font-size:12px;
     }
     
     #contact{
          position: relative;
           top:0px;

         left:750px;
         padding: 10px;
         width: 100px;
         text-align: right;
         display: inline-block;
         
     }
     
     #commission{
                   position: relative;
           top:0px;
        right: 100px;
         background-color:darkcyan;
                  padding: 0px;
         width: 100px;
         text-align: center;
         height: 25px;
         display: inline-block;
         font-size: 12px;
         color: white;
         line-height: 25px;
     }
     .contactLink{
         width: 25px;
         height: 25px;
     }
     a{
         color: darkcyan;
     }
     
     a:visited{
         color: black;
     }
     
     #bottomDiv{
        width: 880px;
        position: absolute;
        bottom: 0px;
        padding: 5px;
        background-color: white; 
        height: 150px;
     }
     
     
     
     
     
     @import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
width:960px;
margin:50px auto;
font-family:raleway
}
span {
color:red
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
input[type=submit] {
width:100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}